<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <div class="header-toolbar">
      
      <div class="welcome-container">
        <label class="header-welcome">Selamat Datang</label>
        <label class="header-name">Ferdy Fauzi</label>
        <ng-container>
          <label class="header-company">Cawangan Putrajaya</label>
        </ng-container>
      </div>

      <div class="btn-container">
        <div class="btn-center">
          <button class="btn">
            <ion-icon name="notifications"></ion-icon>
          </button>
          <button class="btn">
            <ion-icon name="person"></ion-icon>
          </button>
        </div>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="main-menu-container">
    
    <div class="title-container">
      <label>Menu Utama</label>
    </div>

    <div class="menu-row">
      <div class="menu-container">
        <ng-container>
          <div class="menu-card">
            <div class="menu-center">
              <div class="image-center">
                <img src="assets/menu/Buletin.png">
              </div>
              <div class="title-center">
                <label class="menu-title">Bulletin</label>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  
</ion-content>
