<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <div class="header-toolbar">
      
      <div class="welcome-container">
        <label class="header-welcome">Selamat Datang</label>
        <label class="header-name">Ferdy Fauzi</label>
        <ng-container>
          <label class="header-company">Cawangan Putrajaya</label>
        </ng-container>
      </div>

      <div class="btn-container">
        <div class="btn-center">
          <button class="btn">
            <ion-icon name="notifications"></ion-icon>
          </button>
          <button class="btn">
            <ion-icon name="person"></ion-icon>
          </button>
        </div>
      </div>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="main-menu-container">
    
    <div class="title-container">
      <label>Menu Utama</label>
    </div>

    <div class="menu-row">
      <div class="menu-container">
        <ng-container *ngFor="let menu of listMenu">
          <div class="menu-card">
            <div class="menu-center">
              <div class="image-center">
                <img [src]="menu.imageURL">
              </div>
              <div class="title-center">
                <label class="menu-title">{{ menu.title }}</label>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <div class="bulletin-container">
    <div class="title-container">
      <label class="title">Berita</label>
      <label class="all">Semua</label>
    </div>
    <div class="bulletin-list-container">

      <ng-container *ngFor="let bulletin of listBulletin">
        <div class="bulletin-item">
          <div class="bulletin-image">
            <img [src]="bulletin.imageURL">
          </div>
          <div class="bulletin-title">
            <label>{{ bulletin.title }}</label>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
  
</ion-content>
