 .header-toolbar {
    margin: auto 15px;
    display: flex;

    .welcome-container {
        width: calc(100% - 85px);
        display: flex;
        flex-direction: column;

        .header-welcome {
            font-weight: bold;
            font-size: 20px;
            color: var(--theme-pure-white);
        }
        .header-name{
            font-weight: bold;
            margin-top: 5px;
            font-size: 15px;
            color: var(--theme-pure-white);
        }
        .header-company{
            margin-top: 5px;
            min-height: 15px;
            font-size: 15px;
            color: var(--theme-pure-white);
        }
    }
 }

 ion-toolbar {
    --padding-top: 0;
    --background: linear-gradient(0deg, rgba(255,0,0,1.0) 0%, rgba(255,0,0,0.6) 100%), no-repeat -35.965px -201.382px / 120.257% 340.128%;
    --opacity: 1;
    min-height: 160px;
    display: flex;
 }

 ion-toolbar:last-of-type {
    --border-width: 0;
 }

 .btn-container{
    width: 85px;
    display: flex;

    .btn-center {
        margin: auto;
        display: flex;
    }

    .btn{
        padding: 0;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: solid var(--theme-pure-white);
        background-color: var(--theme-light-red);
        display: flex;

        ion-icon{
            margin: auto;
            font-size: 20px;
            color: var(--theme-pure-black);
        }
    }

    .btn:hover{
        background-color: var(--theme-red);
        
        ion-icon{
            color: var(--theme-pure-white);
        }
    }
    .btn:last-child {
        margin-left: 5px;
    }
 }

 .main-menu-container{
    margin: 20px 15px;
    padding-bottom: 25px;
    border-bottom: solid 1px lightgray;
    .title-container {
        font-weight: bold;
        margin-bottom: 20px;
    }
    .title-container label{
        font-size: 17px;
        color: var(--theme-pure-black);
    }
    .menu-container{
        display: flex;
        flex-wrap: wrap;
        .menu-card{
            margin: 5px;
            width: calc(25% - 10px);
            border-radius: 10px;
            border: solid 1px lightgray;
            background-color: var(--theme-pure-white);
            display: flex;
            aspect-ratio: 1;

            .menu-center{
                margin: auto;
                display: flex;
                flex-direction: column;

                .image-center{
                    margin: 5px auto 0;
                    display: flex;
                    img {
                        margin: auto;
                        width: 35px;
                        height: 35px;
                    }
                }
                .title-center{
                    margin: 5px auto 0;
                    display: flex;
                    .menu-title {
                        padding: 0 5px 5px;
                        font-size: 11px;
                        color: black;
                        text-align: center;
                        display: flex;
                    }
                }
            }
        }
    }
 }

 ion-content {
    --ion-background-color: #f2f2f7;
 }

 .bulletin-container{
    margin: 5px 15px 20px;
    padding-bottom: 25px;
    border-bottom: solid 1px lightgrey;
    .title-container {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .title{
            font-weight: bold;
            font-size: 17px;
            color: var(--theme-pure-black);
        }
        .all{
            font-size: 15px;
            color: var(--theme-red);
        }
    }
 }

 .bulletin-list-container{
    overflow-x: scroll;
    display: flex;
    .bulletin-item{
        margin: 0 7.5px 20px;
        .bulletin-image{
            width: 215px;
            border-radius: 10px;
            border: solid 1px lightgray;
            background-color: var(--theme-pure-white);
            overflow: hidden;
            display: flex;
            aspect-ratio: 4/3;
            img{
                margin: auto;
                object-fit: cover;
                object-position: center center;
                aspect-ratio: 4/3;
            }
        }
        .bulletin-title{
            font-size: 15px;
            color: var(--theme-pure-black);
            margin-top: 5px;
        }
    }
    .bulletin-item:first-child {
        margin-left: 0;
    }
    .bulletin-item:last-child{
        margin-right: 0;
    }
 }